body{
    background-image: linear-gradient(to bottom right, #e373cd, yellow);
}
img{
    display: block;
    width: 100%;
    height: auto;
}
    .container{
        display: grid;
        grid-template-columns: [col1] 334px [col2] 667px [col3] 334px;
        grid-template-rows: [line1] 150px [line2] 300px [line3] 150px;
        background-image: linear-gradient(to bottom right, #e373cd, yellow);
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 620px;
        width: 1340px;
    }

.back{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center; 
    font-size: 18px;
    white-space: nowrap; 
    text-align: center;
    border-radius: 5px;
    width: 210px;
}
.butoane{
    justify-self: center;
    align-self: center;
}
.buton{
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    background-color: #aaaaaa1a;
    padding: 10px 24px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .buton:hover {
    background-color: #efefefb3;
    color: black;
  } 
.ghicitoare{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}
.textGhicitoare{
    text-align: center;
    font-size: 20px;
}
#gresit{
    font-size: 20px;
    text-align: center;
}
#batut{
    text-align: center;
    font-size: 20px;
}
.spatiuRaspuns{
    justify-self: center;
    align-self: center;
    padding: 10px 20px;
    font-size: 20px;
}
.raspuns{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    position: sticky;
    bottom: 0;
}

.afiseazaRaspuns{
    text-align: center;
    justify-self: center;
    font-size: 22px;
}
.footer{
    grid-column: col3;
    grid-row: line3;
    color: rgb(88, 88, 88);
    justify-self: end;
    align-self: end;
    position: sticky;
    bottom: 0;
    font-size: 15px;
}
@media only screen and (max-width: 760px){
    .back{width: 8.2%;}
    .butoane{width: 18.48%;}
    .ghicitoare{width: 25%;}
    .textGhicitoare{width: 42.6%;}
    .spatiuRaspuns{width: 56.8%;}
    .afiseazaRaspuns{width: 20%}
    .raspuns{width: 85%;}
    .footer{width: 100%;}
}
@media only screen and (max-width: 760px) {
    .container{
        width: auto;
    }
}